@media screen and (max-width: 600px) {
  .Home {
    .main {
      padding-left: 0px !important;
    }
  }

  .chat {
    .top {
      .menu {
        display: block !important;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .sideNav {
    transform: translate3d(0, 0, 0) !important;
  }
}

@media screen and (max-width: 400px) {
  .status {
    top: 15px !important;
  }
  .addChannel {
    width: 90% !important;
  }
}

@media screen and (max-height: 465px) {
  .chat {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 330px) {
  .join {
    img {
      width: 250px !important;
    }
  }
}
